* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.Navbar img {
    cursor: pointer;
    width: 6%;
    height: 90%;
    position: absolute;
    display: inline-block;
    margin-left: 0px;
    top: 5px;
    z-index: 51;
}
.Navbar h1 {
    cursor: pointer;
    top: 25px;
    left: 100px;
    position: absolute;
    color: aliceblue;
    font-size: 1.9rem;
    display: inline-block;
    user-select: none;
}
.Navbar input {
    position: absolute;
    right: 50px;
    margin-left: 30px;
    width: 250px;
    height: 30px;
    padding: 5px;
    top: 25px;
    
  border: 3px solid ;
  border-right: none;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.Navbar {
    width: 100%;
    position: fixed;
    padding: 10px;
    background-image: url(Images/nav.png);
    height: 60px;
    z-index: 50;
}
.gamesNavbar
{
    margin-left: 20%;
    width: 60%;
    position: absolute;
    margin-top: 35px;
    background-image: url(Images/nav.png);
    height: 60px;
    z-index: 50;

}

.Navbar a {
    user-select: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: antiquewhite;
}
.gamesNavbar a
{
    user-select: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: antiquewhite;

}
.Navbar ul   {
    position: absolute;
    left: 300px;
    top: 25px;
    list-style: none;
}
.gamesNavbar ul
{
    position: absolute;
    left: 210px;
    top: 25px;
    list-style: none;

}
.Navbar li {
    width: 200px;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding: 5px;
    border-right: solid 4px;
}
.gamesNavbar li
{
    width: 120px;
    display: inline-block;
}
.appContent {
    position: absolute;
    color: white;
    top: 80px;
    /*background-color: #5090CC;*/
    background-image: url(Images/back.jpg);
    background-size: 30% 100%;
    width: 100%;
    height: 1600px;
}
.FirstCard, .SecondCard, .ThirdCard, .FouthCard
{
    position: absolute;
    width: 25%;
    height: 35%;
    background-image: url(Images/thumb-1920-1003220.png);
    box-shadow: 5px 5px 10px 3px black;
}
.FirstCard{
    left: 20%;
    top: 80px; 
    overflow: hidden;
}
.SecondCard{
    left: 55%;
    top: 80px;
    overflow: hidden;
    
}
.ThirdCard{
    left: 20%;
    top: 750px;
    overflow: hidden;
}
.FouthCard{
    left: 55%;
    top: 750px;
    overflow: hidden;
}
.startGame{
    font-family: 'Yeon Sung', cursive;
    position:absolute;
    text-align: center;
    top:40%;
    left: 0;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}

.FourthCardInfo, .ThirdCardInfo, .SecondCardInfo, .FirstCardInfo{
    font-size: 1.3rem;
    height: 280px;
    position: absolute;
    top: 600px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.Footer
{
    position: absolute;
    top: 1050px;
    width: 100%;
    height: 250px;
    /*background-color: #022240;*/
    background-image: url(Images/nav.png);
}
.communityContent
{
    position: absolute;
    color: white;
    top: 80px;
    background-image: url(Images/back.jpg);
    background-size: 30% 100%;
    width: 100%;
    height: 1000px;
    
}
.layerCommunityContent
{
    position: absolute;
    top: 110px;
    width: 60%;
    margin-left: 20%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 4px 10px black;
}
.Post
{
    margin-top: 30px;
    margin-left: 25%;
    width: 50%;
    border: solid 3px #ffffff;
    
}
.Post h3
{
    color: #BF900F;
    padding: 10px;
    text-align: center;
}
#playerName
{
    padding: 5px;
    width: fit-content;
    text-align: start;
    display: inline-block;
}
#playerScore
{
    padding: 5px;
    display: inline-block;
    margin-left: 170px;
    text-align: end;
}
.Post p
{
    padding-left: 5px;
}
